
.button{
  margin: auto;
  display: block;
  outline: none;
  padding: 10px;
  text-align: center;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: monospace;
  box-shadow: 0 2px #ccc;
  transition: opacity 300ms;

  &:hover{
    opacity: .9;
  }
  &:active{
    box-shadow: 0 1px #ccc;
  }
}